* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: grey;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5rem;
}

nav {
    background-image: linear-gradient(135deg, rgba(107, 107, 107,0.06) 0%, rgba(107, 107, 107,0.06) 50%,rgba(202, 202, 202,0.06) 50%, rgba(202, 202, 202,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 30px 30px;
    height: 82px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background-color: white;
    border-radius: 15px;
    transition: 0.5s;
    color: #2c3e50;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#home .home-image img{
    transition-duration: 1s;
      border-radius: 15px;
      display: block;
      margin: 100px auto 40px;
      width: 90%;
      height: 100%;
}

.introduction p{
    padding: 0 45px 0 45px;
    font-size: 20px;
}






@media (max-width: 768px) {

    /*navbar in responvise screen*/

    label.logo {
        padding-left: 20px;
        font-size: 20px;
        line-height: 50px;
    }

    .checkbtn{
        display: block;
        line-height: 50px;
        font-size: 25px;
    }

    nav {
        height: 50px;
        width: 100%;
    }
    
    nav ul { 
        position: fixed;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(135deg, rgba(107, 107, 107,0.06) 0%, rgba(107, 107, 107,0.06) 50%,rgba(202, 202, 202,0.06) 50%, rgba(202, 202, 202,0.06) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 30px 30px;
        top: 50px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 40px;
    }

    nav ul li a {
        font-size: 16px;
    }

    a.active, a:hover {
        background-color:white;
        border-radius: 15px;
        transition: 0.5s;
        color: #2c3e50;
    }

    #check:checked ~ ul {
        left: 0;
    }

     .checkbtn i.fa-times {
        display: none;
    }

    #check:checked + .checkbtn i.fa-bars {
        display: none;
    }

    #check:checked + .checkbtn i.fa-times {
        display: inline-block;
    }

    /*home image*/

    #home .home-image img{
        transition-duration: 0.5s;
          border-radius: 15px;
          display: block;
          margin: 70px auto 25px;
          width: 90%;
          height: 100%;
    }

    .introduction p{
        padding: 0 10px 0 20px;
        font-size: 14px;
    }


}
